body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    width: 100%;
    margin: 0px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    position: sticky;
    width: 100%;
    height: 2.3em;
    background-color: #000;
}

#navigation{
    height: 100%;
    background-color: #f8f8f8;
}

#header-line{
    width: 100%;
    height: 0.5em;
    background-color: #4CAF50;
}

#home-button{
    margin-top: 0.2%;
}

#menu{
    background-color: #f8f8f8;
    width: 100%;
    padding-top: 1.5em ;
    display: flex;
}
table {
	min-width: 10em;
	border: 2px solid #4CAF50;
	border-collapse: collapse; 
    margin-left: 1.5em;
}



td {
	border-bottom: 2px solid #4CAF50;
    text-align: center;
}

#choosed-section{
    background-color: #4CAF50;
    color: #f8f8f8;
}

#main-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2em;
}

.position{
    padding: 0.3em;
    padding-left: 0.1em;
    border-radius: 1em;
    border: .2em solid #4CAF50;
    margin-bottom: 3em;
    margin-right: 0.5em;
}

.position-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.position-name{
    margin: 0;
    text-align: center;
}

.position-divider{
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: #000;
    width: 11em;
    height: 1px;
}

.list-of-ingridients{
    margin: 0;
    font-size: 75%;
}

.position-price{
    margin: 0;
    margin-top: 0.5em;
    text-align: center;
}
.change-position-button{
    display: block;
    margin-left: 0.5em;
    border-width: 0;
    background-color: #4CAF50;
    color: #f8f8f8;
    font-size: 1em;
    border-radius: 0.2em;
    width: 90%;
}

.change-position-button-wrapper{
    padding: 0.1em;
}

#about-sheet{
    background-color: #f8f8f8;
    width: 70%;
    margin-top: 0%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 0em;
}

#image-text-about{
    display: flex;
}

#about-img{
    margin: 1%;
    margin-top: 2%;
    max-height: 300px;
}

#Sub{
    color: #F2B700;
}
#Way{
    color: #008938;
}

#about-text{
    margin-left: 1%;
    margin-bottom: 0em;
}

#about-sheet-footer-connect{
    height: 1em;
    background-color: #f8f8f8;
}

footer{
    
    margin-top: 0;
    padding: 1em;
    box-sizing: border-box;
    background-color: rgb(77, 76, 76);
    height: 15em;
}
#footer-wrapper{
    display: flex;
}

.footer-text{
    color: #f8f8f8;
}

.socials{
    height: 2.5em;
}

#links-block{
    display: flex;
    margin-left: 7.5em;
}

.link{
    margin: 1em;
    color: #f8f8f8;
}

#adress{
    float: right;
    margin-top: 6em;
    
}

.auth-block{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-size: contain;
    width: 50%;
    min-height: 25em;
    max-height: 25em;
}

.auth-text{
    font-size: xx-large;
    margin-bottom: 3em;
}

#registration-text{
    font-size: 100%;
    display: ruby-text;
    margin-top: 0.5em;
}

.login-password-auth{
    display: grid;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.login{
    margin: auto;
    display: inline-grid;
    font-size: 60%;
    width: fit-content;
}
.password{
    margin: auto;
    display: inline-grid;
    font-size: 60%;
    width: fit-content;
}
.date-birth{
    margin: auto;
    display: inline-grid;
    font-size: 60%;
    width: fit-content;
}

#username{
    width: 13em;
    height: 2em;
    margin-bottom: 2em;
    border: 1px solid #a7a7a7;
}

#pass{
    width: 13em;
    height: 2em;
    margin-bottom: 2em;
    border: 1px solid #a7a7a7;
}

#date-birth{
    margin: 0;
    width: 13em;
    height: 2em;
    margin-bottom: 2em;
    border: 1px solid #a7a7a7;
}

#pass-again{
    margin: 0;
    width: 13em;
    height: 2em;
    margin-bottom: 2em;
    border: 1px solid #a7a7a7;
}

.registration-offer{
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0;
    font-size: 60%;
}

.auth-buttons{
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 7.8em;
    font-size: 1em;
    border-width: 0;
    background-color: #4CAF50;
    color: #f8f8f8;
}
#auth-button-register{
    width: 10em;
    font-size: 0.9em;
}

#registration-button-wrapper{
    margin: auto;
    display: inline-grid;
    width: fit-content;
}

.registration-block{
    display: grid;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#registration-row-2{
    display: block;
}

#header-button-about{
    display: inline;
    margin-bottom: 2em;
    margin-left: 1%;
    height: 1em;
    width: 4em;
    font-size: 1.9em;
    color: #4CAF50;
}

#header-button-auth{
    height: 80%;
    float: right;
    margin-right: 0.5%;
    margin-top: 0.3%;
    border-width: 0;
    background-color: #4CAF50;
    color: #f8f8f8;
    font-size: 1em;
    border-radius: 0.2em;
    cursor: pointer;
}

button:focus {
    outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

button{
    cursor: pointer;
}

#auth-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    cursor: pointer;
}

#page-lister{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
#menu-wrapper{
    display: grid;
}
#profile-container{
    display: flex;
    float:  right;
    margin-bottom: 0;
}
#login-box{
    margin-bottom: 0;
    margin-right: .5em;
}

#profileImage{
    width: 2.3em;
    height: 2.3em;
}
/* Добавьте или измените эти стили в style.css */

.position{
    padding: 0.3em;
    padding-left: 0.1em;
    border-radius: 1em;
    border: .2em solid #4CAF50;
    margin-bottom: 3em;
    margin-right: 0.5em;
    width: 350px; /* Фиксированная ширина */
    box-sizing: border-box;
    display: flex; /* Добавляем flex для карточки */
    flex-direction: column; /* Элементы в колонку */
    min-height: 400px; /* Минимальная высота для всех карточек */
    position: relative; /* Для позиционирования кнопки */
}

/* Кнопка "Изменить" фиксируется внизу */
.change-position-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    background-color: #4CAF50;
    color: #f8f8f8;
    font-size: 1em;
    border-radius: 0.2em;
    width: 90%;
    padding: 8px 0;
    cursor: pointer;
    margin-top: auto; /* Толкает кнопку вниз */
}

/* ИЛИ альтернативный вариант с абсолютным позиционированием: */


.position {
    position: relative;
    padding-bottom: 50px; /* Место для кнопки */
}

.change-position-button{
    position: absolute;
    bottom: 10px;
    left: 5%;
    right: 5%;
    width: 90%;
    margin: 0;
}
/* Добавьте в конец style.css */

/* Стили для модального окна */
#edit-modal input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

#edit-modal button:hover {
    opacity: 0.9;
}

#edit-modal button:active {
    transform: translateY(1px);
}

/* Анимация для уведомлений */
@keyframes slideIn {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideOut {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(100%); opacity: 0; }
}
/* Стили для модальных окон */
#add-pancake-modal input:focus,
#edit-modal input:focus {
    outline: none;
    border-color: #4CAF50 !important;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.2) !important;
}

#add-pancake-modal button:hover,
#edit-modal button:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

#add-pancake-modal button:active,
#edit-modal button:active {
    transform: translateY(1px);
}

/* Анимация появления карточек */
@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(-20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}